@import url(./vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');

.page {
  margin: 0;
  background: #000;
  position: relative;
  font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
  /* font-family - INTER?? */
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(000, 000, 000, 0.5);
  z-index: 2;
  top: 0;
  display: none;
}


/* pop-up */

.overlay_active {
  display: block;
}

.pop-up {
  position: absolute;
  width: 430px;
  height: 330px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  display: block;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 27.2vh;
}

.pop-up__title {
  margin: 33px auto 49px 36px;
  text-align: start;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.pop-up__input {
  box-sizing: border-box;
  margin: 30px 36px 30px 36px;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(000, 000, 000, 0.2);
  width: calc(100% - 72px);
  padding: 0 0 8.5px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.pop-up__input:focus {
  outline: none;
}

.pop-up__btn {
  margin-top: 18px;
  background-color: #000;
  color: white;
  text-align: center;
  width: calc(100% - 72px);
  padding: 16px 0 16px 0;
  font-size: 18px;
  line-height: 18px;
  border: none;
  border-radius: 2px;
}

.pop-up__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pop-up__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
}

.pop-up__close-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}




/* Секция header] */



.header {
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

.header__logo {
  margin-bottom: 37px;
}

/* Секция профиля */

.profile {
  max-width: 880px;
  margin: 40px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-between;
}

.profile__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  margin-right: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.profile__title {
  margin: 0 0 9px 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.profile__btn {
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  align-self: center;
}

.profile__btn_edit {
  font-size: 0;
  padding: 6px;
  vertical-align: middle;
  margin-left: 7px;
}

.profile__btn_edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__icon-pencil {
  width: 10px;
  height: 10px;
}

.profile__btn_add {
  border-width: 2px;
  font-size: 0;
  padding: 12px 62px;
}

.profile__btn_add:hover {
  opacity: 0.6;
  cursor: pointer;
}


.profile__btn-plus {
  width: 22px;
  height: 22px;
  fill: #fff;
  margin: 0 0 0 auto;
}

.profile__name {
  margin: 0;
  padding: 0;
}


/* Секция gallery */
.gallery {
  max-width: 880px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  font-size: 0;
}

.card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;

}

.card__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 25px 20px 25px 21px;
}

.card__image {
  max-width: 282px;
  max-height: 282px;
  margin: 0;
  padding: 0;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.card__btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0;
}

.card__btn:hover {
  opacity: 0.5;
  cursor: pointer;
}


.card__btn-like {
  width: 22px;
  height: 19px;
  fill: #000;
}

/* footer */

.footer {
  max-width: 880px;
  margin: 67px auto 0 auto;
  color: #545454;
  padding-bottom: 60px;
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}


@media screen and (max-width: 660px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    margin: 0 auto 27px 27px;
  }

  .profile__avatar {
    margin-right: 10px;
  }

  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__info {
    margin-right: 9px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__image {
    max-width: 350px;
    max-height: none;
  }

  .profile {
    text-align: center;
  }

  .pop-up {
    width: 282px;
    height: 322px;
  }

  .pop-up__title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 26px 9px 75px auto;
  }

  .pop-up__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
    top: -35px;
  }

  .pop-up__input {
    margin-left: 22px;
    margin-right: 22px;
    width: calc(100% - 44px);
  }

  .pop-up__btn {
    margin-top: 16px;
    width: calc(100% - 44px);
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0 15px 0;
  }
}

@media screen and (max-width: 520px) {

  .header__logo {
    max-width: 103.74px;
    height: 24.4px;
  }

  .profile {
    display: block;
    margin-bottom: 0;
    margin-top: 42px;
  }

  .profile__title {
    margin-bottom: 6px;
    margin-top: 10px;
  }

  .profile__name {
    margin-left: 27px;
  }

  .profile__info {
    margin: 0;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__icon-pencil {
    width: 7.5px;
    height: 7.5px;
  }

  .profile__btn_edit {
    padding: 4.25px;
    margin-left: 0;
    margin-top: 5px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 19px;
    margin-right: 19px;
  }

  .card__image {
    max-width: 100%;
    max-height: none;
  }

  .profile__wrapper {
    display: block;
  }

  .profile__btn_add {
    margin: 32px auto 36px auto;
    width: calc(100% - 38px);
    border-radius: 2px;
  }

  .footer {
    margin-top: 48px;
    padding-bottom: 36px;
  }

  .footer__text {
    margin-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}
