.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(000, 000, 000, 0.5);
  z-index: 2;
  top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none; /* по завершению поставить none */
}
