.profile__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 660px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
  }
}
