.profile__name {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 660px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
  }
}

@media screen and (max-width: 520px) {
  .profile__name {
    margin-left: 27px;
  }
}
