.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 660px) {
  .profile__avatar {
    margin-right: 10px;
  }
}

@media screen and (max-width: 520px) {
  .profile__avatar {
    margin: 0;
  }
}
