.card__image {
  width: 282px;
  height: 282px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

@media screen and (max-width: 660px) {
  .card__image {
    width: 350px;
  }
}

@media screen and (max-width: 520px) {
  .card__image {
    width: 100%;
  }
}
