@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/_data/pop-up_data_image-card.css);
@import url(../blocks/pop-up/__btn/pop-up__btn.css);
@import url(../blocks/pop-up/__btn/_type/pop-up__btn_type_close.css);
@import url(../blocks/pop-up/__btn/_type/pop-up__btn_type_submit.css);
@import url(../blocks/pop-up/__input/pop-up__input.css);
@import url(../blocks/pop-up/__title/pop-up__title.css);
@import url(../blocks/pop-up/__title/_text_start/pop-up__title_text_start.css);
@import url(../blocks/pop-up/__form/pop-up__form.css);
@import url(../blocks/pop-up/__subtitle/pop-up__subtitle.css);
@import url(../blocks/pop-up/__image-card/pop-up__image-card.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__btn/profile__btn.css);
@import url(../blocks/profile/__btn/_type/profile__btn_type_add.css);
@import url(../blocks/profile/__btn/_type/profile__btn_type_edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/pop-up/_opacity/pop-up_opened.css);
@import url(../blocks/pop-up/__container/pop-up__container.css);
@import url(../blocks/pop-up/__container/_data_image-card/pop-up__container_data_image-card.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__btn/card__btn.css);
@import url(../blocks/card/__btn/_like_active/card__btn_like_active.css);
@import url(../blocks/card/__btn/_type_delete/card__btn_type_delete.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__wrapper/card__wrapper.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

.form__set {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 72px);
  margin: 35px 36px;
}

@media screen and (max-width: 680px) {
  .form__field {
    margin-left: 22px;
    margin-right: 22px;
    width: calc(100% - 44px);
  }
}

.pop-up__btn_inActive {
  background-color: red;
}

.form__input_type_error {
  border: 1px solid red;
}
/* TODO Разобраться почему внизу надпись - добавил спан под инпут с этим классом */
.pop-up__input-error {
  font-size: 12px;
  color: red;
  opacity: 1;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: 0.3s;
  text-align: start;
  font-weight: 400;
  /* line-height: 14.52px; */
}

.form__error_visible {
  opacity: 1;
  color: red;
}
