.pop-up__close-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
}

.pop-up__close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .pop-up__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
